@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Shrikhand&display=swap');

*,
::before
::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "roboto", sans-serif;

}

a {
    text-decoration: none;
    color: inherit;
}
h4
h3,
p
 {
    margin: 0;
    padding: 0;
}