@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&family=Shrikhand&display=swap");
*,
::before ::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h4 h3,
p {
  margin: 0;
  padding: 0;
}

header {
  font-family: "shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  position: relative;
}

.city {
  font-family: "roboto", sans-serif;
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #f3f3f3;
  font-size: 1.2rem;
}

.explore {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
}
.explore h2 {
  margin: 10px;
}
.explore p {
  margin: 20px;
  font-size: 17px;
}
.explore button {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.explore button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

.loader {
  position: fixed;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  -webkit-animation: disappear 200ms 3s forwards;
  -o-animation: disappear 200ms 3s forwards;
  animation: disappear 200ms 3s forwards;
}
.loader .loa {
  border: 10px solid #99E2D0;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 3s linear infinite;
  -o-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  opacity: 0.9;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes disappear {
  to {
    transform: scale(0);
  }
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.functioning {
  counter-reset: steps;
  padding: 2rem 1rem;
}
.functioning ol {
  display: flex;
  gap: 1rem;
  margin: 30px 0 0 -25px;
}
@media (max-width: 1000px) {
  .functioning ol {
    flex-direction: column;
  }
}
.functioning li {
  list-style-type: none;
  position: relative;
  background-color: #f6f6f6;
  padding: 1.4rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.functioning li:hover {
  transform: scale(1.02);
  background-color: #f5edff;
}
.functioning li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  bottom: 1rem;
  left: -1rem;
}
.functioning i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.3rem;
}

.restaurant {
  background-color: #f6f6f6;
}
.restaurant h2 {
  padding-top: 2rem;
  margin: 1rem;
}
.restaurant .container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 1rem;
}
@media (max-width: 1000px) {
  .restaurant .container-card {
    grid-template-columns: repeat(1, 1fr);
  }
}
.restaurant .container-card .new {
  position: relative;
}

.card-description {
  margin: -3.5px 0px;
}


.restaurant .container-card .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
}
.restaurant .container-card img {
  height: 12rem;
  width: 100%;
  border: 0 solid transparent;
  border-radius: 1rem 1rem 0 0;
  box-shadow: none;
  object-fit: cover;
  background-size: cover;
}
.restaurant .card .card-description {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 12px;
  background-color: white;
  border-radius: 0 0 1rem 1rem;
}
.restaurant .card .card-description h3,
.restaurant .card .card-description p {
  margin: 0;
  padding: 2px;
  font-size: 19px;
}
.restaurant .card .card-description h3 {
  padding: 2px;
}
.restaurant .card .card-description i {
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.restaurant .card .card-description .fas {
  color: transparent;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
}
.restaurant .card .card-description:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}

footer {
  background-color: #353535;
  padding: 1rem 1rem 2rem;
  color: white;
}
footer h2 {
  font-family: "shrikhand", "sans-serif";
  font-weight: 500;
}
footer p {
  padding: 0.2rem;
}
footer i {
  width: 1.2rem;
  margin-right: 0.5rem;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
header i {
  position: absolute;
  left: 2em;
  top: 42px;
}
header .fas {
  font-weight: 900;
  font-size: 25px;
}

.banner img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  object-position: center;
}

.resto-main {
  margin-top: -6rem;
  border-radius: 2rem 1rem 0 0;
  position: relative;
}
.resto-main i {
  font-size: 2rem;
  position: absolute;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
.resto-main .fas {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
}
.resto-main:hover .fas {
  opacity: 1;
  transform: translateY(-50%) scale(1.2);
}
.resto-main h2 {
  font-family: "shrikhand", "sans-serif";
  padding: 2rem 1rem;
  position: relative;
  border-radius: 2rem 1rem 0 0;
  background-color: #f6f6f6;
  margin: 0;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  background-color: #f6f6f6;
}
@media (max-width: 1000px) {
  .menu {
    grid-template-columns: 1fr;
  }
}
.menu h3 {
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 1rem;
}
.menu h3::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 0;
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
}
.menu .menu-listing {
  overflow: hidden;
  padding: 4px;
  background-color: #f6f6f6;
}
.menu .menu-items {
  display: flex;
  gap: 1rem;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  margin: 0.5rem;
  animation: appear 1s;
  animation-fill-mode: both;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.menu .menu-items:nth-child(1) {
  animation-delay: 100ms;
}
.menu .menu-items:nth-child(2) {
  animation-delay: 200ms;
}
.menu .menu-items:nth-child(3) {
  animation-delay: 300ms;
}
.menu .menu-items:nth-child(4) {
  animation-delay: 400ms;
}
.menu .menu-items:nth-child(5) {
  animation-delay: 500ms;
}
.menu .menu-items .menu-description {
  padding: 1rem;
  overflow: hidden;
}
.menu .menu-items .menu-description h4,
.menu .menu-items .menu-description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}
.menu .menu-items .price {
  margin-left: auto;
  font-weight: 900;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
.menu .menu-items .menu-check {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.menu .menu-items .menu-check i {
  display: grid;
  place-items: center;
  background: white;
  height: 20px;
  width: 20px;
  border-radius: 1rem;
  color: #99E2D0;
}
.menu .menu-items:hover {
  cursor: pointer;
}
.menu .menu-items:hover .menu-check {
  margin-right: 0;
}
.menu .menu-items:hover i {
  animation: quarterspin 0.5s ease-in-out;
}
@keyframes quarterspin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

.order {
  display: flex;
  justify-content: center;
  padding: 4rem;
  background-color: #f6f6f6;
}
.order button {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.order button button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}

/*# sourceMappingURL=style.css.map */
